/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #000000;
  color: #EAEAEA;
  font-family: poppins;  
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  /*box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);*/
}

#cover {
}

.text-white-50{
  color: #999999;
}

.content{
  margin-top: 120px;
  margin-left: 70px;
  float: left;
}

.content h2{
  font-size: 40px;
  color: #E5E5E5;
}

h2 .name{
  letter-spacing: 1px;
  font-size: 75px;

}

.content h3{
  font-size: 40px;
}

.icons{
   font-size:50px;
   letter-spacing: 5px;
}
.icon :hover{
  color: #FFC107;
  text-decoration: none;
}

.cover-container {
  max-width: 42em;
}

.image{
  padding: 20px;
}

.image2{
  margin-top: -400px;
  display: none;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-md {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(254, 255, 255, .5);
}
      @media (max-width: 767px) {

          .cover {
            padding: 0px 10px;
          }

        .content{
          margin: -20px 0px -50px 0px;
          padding: 0px;
          float: none;

          }
         .content h2{
          font-size:25px;
          letter-spacing: -1px;
          margin-top: -10px;
         }
         h2 .name{
          font-size:45px;
          letter-spacing: -1px;
          font-weight: 700;
         }
         .content h3{
          font-size:25px;
          letter-spacing: -1px;
          word-spacing: 0px;
         }
         .content h4{
          font-size:20px;

         }
         .icons{
            font-size:28px;
            margin-bottom: 50px;
         }
         .image{
          display: none;
         }
         .image2{
          display: inline;
          margin-top: 20px;
          padding: 0px;
         }
         .cover .btn-md{
            padding: .55rem 1.10rem;
            font-weight: 700;
          }
                
      }

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.5em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    font-size: 25px;
    font-weight: 700;
    color: inherit;
    border-bottom: 1px solid white;
    padding-bottom: 4px;
}

.timeline-title .text-muted {
  font-size: 25px;
  color: #EAEAEA;
}

.timeline-body > p {
    margin-bottom: 0;
    font-size: 15px;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 10px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 50px);
        width: -moz-calc(100% - 50px);
        width: -webkit-calc(100% - 50px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: -30px;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }

        .timeline-title {
            font-size: 20px;
            letter-spacing: 0px;
            word-spacing: 0px;
            font-weight: 700;
            color: inherit;
            border-bottom: 1px solid white;
            padding-bottom: 4px;
        }

        .timeline-title .text-muted {
          font-size: 15px;
          color: #EAEAEA;
          letter-spacing: -1px;
          word-spacing: -5px;
        }

}

.heading {
  margin: 20px 0px;
  padding: 10px;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  color: #8A8A8C;
}

.text-lg{
  font-size: 40px;
}
.text-md{
  font-size: 27px;
}
.text-sm{
  font-size: 20px;
}

.text-ex{
  font-size: 25px;
}

.heading-big{
  margin: 0px 0px 50px 0px;
  font-size: 100px;
  opacity: 0.1;
  font-weight: 1000;
}

.heading-small{
  margin:-185px 0 50px 0;
  font-size: 50px;
  font-weight: 1000;
}

.section-break{
  margin: 70px 0 0px 0;
}

@media (max-width: 1024px) {
    .text-lg{
      font-size: 35px;
    }
    .text-md{
      font-size: 20px;
    }
    .text-sm{
      font-size: 15px;
    }
    .text-ex{
      font-size: 15px;
    }
    .heading-big{
      font-size: 50px;
      margin-bottom: -80px;
      } 

    .heading-small{
      margin:0px 0 0px 0;
      font-size: 35px;
    }
    .spacing{
      visibility: hidden;
    }

    .section-break{
      margin: 50px 0 0px 0;
    }

    .content-center{
        align-content: center;
      }
}

.progress-bar span{
  position: absolute;
  top: -1px;
  right: 0;
  font-size: 35;
  font-weight: 500;
}


.contact-icon{
  height: 100px;
  width: 100px;
  font-size: 45px;
  background-color: yellow;
  color: black;
}

.icon-2{
  font-size: 60px;
  letter-spacing: 2px;
}

.tools{
  background-color: #191919;
  padding: 40px;
  margin: 10px;

}

#experince :hover{
  background-color: #101010;
}

.tools h3{
  font-size: 30px;
  font-weight: 700;
}

.tools h4{
  font-size: 28px;
  font-weight: 500;
}

.tools h5{
  font-size: 20px;
  font-weight: 500;
}

.hobby-card i{
  font-size: 30px;
}

.hobby-card p{
  font-size: 20px;
  font-weight: 700;

}


@media (max-width: 767px) {

    .icon-2 {
      font-size: 30px;
      letter-spacing: 0;
    }

    .tools{
      padding: 15px;
      margin: 0px;
    }

    .tools h3{
      font-size: 18px;
    }

    .tools h4{
      font-size: 18px;
    }

    .tools h5{
      font-size: 15px;
    }

    .tools p{
      font-size: 15px;
    }

  }


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

.grid-item img{
}


.about-card{
  padding: 10px 50px 10px 80px;
}

.about-card p{
  font-size: 20px;
}

.about-card img{
  padding: 80px 40px 0px 40px;
}

@media (max-width: 1024px) {

    .about-card{
      padding: 5px;
      text-align: center;
    }

    .about-card p{
      font-size: 16px;
      text-align: center;
    }

    .about-icons{
      text-align: center;
      font-size: 35px;
    }

    .about-card img{
      padding: 10px;
    }
}
